<nav class="primary-navigation">
	<ul class="primary-navigation__navigation-links-list navigation-links-list">
		<li class="navigation-links-list__item">
			<a class="navigation-links-list__link" href="#">Home</a>
		</li>
		<li class="navigation-links-list__item">
			<a class="navigation-links-list__link" href="#">New</a>
		</li>
		<li class="navigation-links-list__item">
			<a class="navigation-links-list__link" href="#">Popular</a>
		</li>
		<li class="navigation-links-list__item">
			<a class="navigation-links-list__link" href="#">Trending</a>
		</li>
		<li class="navigation-links-list__item">
			<a class="navigation-links-list__link" href="#">Categories</a>
		</li>
	</ul>
</nav>

@code {
	
}