.top-articles-section {
	position: relative;
	margin: 0 16rem 80rem 16rem;

	@media (width >= 768px) {
		margin: 0 32rem 80rem 32rem;
	}

	@media (width >= 1440px) {
		margin: 0 165rem 129rem 165rem;
	}
}

.top-articles-section__top-articles-list {
	position: relative;
}

.top-articles-list {
	display: flex;
	flex-direction: column;
	row-gap: 32rem;
	counter-reset: article-counter;
}

.top-articles-list__list-item {
	position: relative;
	display: grid;
	grid-template-columns: 100rem 219rem;
	grid-template-rows: auto;
	align-items: center;
	column-gap: 24rem;
}

.top-articles-list__image-wrapper {
	position: relative;
}

.top-articles-list__image {
	width: 100rem;
	height: 129rem;
	object-fit: cover;
	background-color: var(--gunmetal);
}

.top-articles-list__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&::before {
		content: counter(article-counter, decimal-leading-zero);
		counter-increment: article-counter;
		position: relative;
		display: block;
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 32rem;
		line-height: 100%;
		color: var(--light-vermillion);
		margin-bottom: 12rem;
	}
}

.top-articles-list__link {
	position: relative;
}

.top-articles-list__title {
	font-family: var(--font-family), sans-serif;
	font-weight: 800;
	font-size: 18rem;
	line-height: 133%;
	color: var(--dark-space-blue);
	padding-bottom: 9rem;
}

.top-articles-list__text {
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 15rem;
	line-height: 173%;
	color: var(--gunmetal);
}