<article class="top-articles-section">
	<h2 class="visually-hidden">Most popular articles</h2>
	<ul class="top-articles-section__top-articles-list top-articles-list">
		<li class="top-articles-list__list-item">
			<div class="top-articles-list__image-wrapper">
				<img class="top-articles-list__image" src="images/raster/posts/reviving-retro-pcs.jpg"
				     alt="Reviving Retro PCs">
			</div>
			<div class="top-articles-list__content">
				<a class="top-articles-list__link" href="#"><h3 class="top-articles-list__title">Reviving Retro PCs</h3>
				</a>
				<p class="top-articles-list__text">What happens when old PCs are given modern upgrades?</p>
			</div>
		</li>
		<li class="top-articles-list__list-item">
			<div class="top-articles-list__image-wrapper">
				<img class="top-articles-list__image" src="images/raster/posts/top-10-laptops-of-2022.jpg"
				     alt="Top 10 Laptops of 2022">
			</div>
			<div class="top-articles-list__content">
				<a class="top-articles-list__link" href="#"><h3 class="top-articles-list__title">Top 10 Laptops of
						2022</h3></a>
				<p class="top-articles-list__text">Our best picks for various needs and budgets.</p>
			</div>
		</li>
		<li class=" top-articles-list__list-item">
			<div class="top-articles-list__image-wrapper">
				<img class="top-articles-list__image" src="images/raster/posts/the-growth-of-gaming.jpg"
				     alt="The Growth of Gaming">
			</div>
			<div class="top-articles-list__content">
				<a class="top-articles-list__link" href="#"><h3 class="top-articles-list__title">The Growth of
						Gaming</h3></a>
				<p class="top-articles-list__text">How the pandemic has sparked fresh opportunities.</p>
			</div>
		</li>
	</ul>
</article>