.header {
	margin: 0 16rem;
	padding: 28rem 0 32rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	@media (width >= 768rem) {
		margin: 0 32rem;
	}
}

.header__link-logotype {
	position: relative;
}

.header__logotype {
	width: 45rem;
	height: 28rem;
	color: var(--dark-space-blue);
}

.mobile-navigation__trigger {
	position: relative;
	width: 40rem;
	height: 17rem;
	cursor: pointer;
}

.mobile-navigation__trigger-bar {
	width: 100%;
	height: 3rem;
	background: var(--dark-space-blue);
}

.mobile-navigation__top-trigger-bar {
	position: absolute;
	top: 0;
	left: 0;
}

.mobile-navigation__middle-trigger-bar {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.mobile-navigation__bottom-trigger-bar {
	position: absolute;
	bottom: 0;
	left: 0;
}