.header {
	margin: 0 16rem;
	padding: 28rem 0 32rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	@media (width >= 768px) {
		margin: 0 32rem;
	}

	@media (width >= 768px) {
		margin: 0 32rem;
	}

	@media (width >= 1440px) {
		margin: 0 165rem;
		padding: 89rem 0 55rem 0;
	}
}

.header__link-logotype {
	position: relative;
}

.header__logotype {
	width: 45rem;
	height: 28rem;
	color: var(--dark-space-blue);

	@media (width >= 1440px) {
		width: 65rem;
		height: 40rem;
	}
}

/*Pull out to separate component MobileNavigationTrigger*/

.mobile-navigation__trigger {
	position: relative;
	width: 40rem;
	height: 17rem;
	cursor: pointer;
	flex: 0 0 auto;

	@media (width >= 768px) {
		display: none;
	}
}

.mobile-navigation__trigger-bar {
	width: 100%;
	height: 3rem;
	background: var(--dark-space-blue);
}

.mobile-navigation__top-trigger-bar {
	position: absolute;
	top: 0;
	left: 0;
}

.mobile-navigation__middle-trigger-bar {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.mobile-navigation__bottom-trigger-bar {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*Pull out to separate component PrimaryNavigation*/

.primary-navigation {
	position: relative;
	display: none;

	@media (width >= 768px) {
		display: block;
	}
}

.primary-navigation__links-list {
	position: relative;
}

.links-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: -20rem;
}

.links-list__item {
	position: relative;
}

.links-list__link {
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	font-size: 15rem;
	line-height: 173%;
	color: var(--gunmetal);
	padding: 20rem;
}