@using Client.Shared.Ui.Link.Ui

<article class="lead-article-section">
	<img class="lead-article-section__image" src="/images/raster/posts/the-bright-future-of-web.jpg"
	     alt="Bright Future of Web 3.0">
	<div class="lead-article-section__content">
		<h2 class="lead-article-section__title">The Bright Future of Web 3.0?</h2>
		<div class="lead-article-section__content-separator">
			<p class="lead-article-section__text">We dive into the next evolution of the web that claims to put the
				power of
				the platforms back into the hands
				of the people. But is it really fulfilling its promise?</p>
			<Link href="#">Read more</Link>
		</div>
	</div>
</article>