<button class="mobile-navigation__trigger">
	<span class="visually-hidden">Toggle mobile navigation</span>
	<div class="mobile-navigation__trigger-bar mobile-navigation__top-trigger-bar"></div>
	<div class="mobile-navigation__trigger-bar mobile-navigation__middle-trigger-bar"></div>
	<div class="mobile-navigation__trigger-bar mobile-navigation__bottom-trigger-bar"></div>
</button>