@page "/"
@using Client.Pages.Home.Ui.Sections.LeadArticle.Ui
@using Client.Widgets.NewArticles.Ui
@using Client.Widgets.TopArticles.Ui

<PageTitle>News</PageTitle>

<section class="home-page">
	<h1 class="visually-hidden">News</h1>
	<div class="home-page__item-group home-page__item-group--type--two-columns">
		<LeadArticle/>
		<NewArticles/>
	</div>
	<TopArticles/>
</section>
